body {
  background-color: rgb(0, 18, 0);
  margin: 0px;
  overflow: hidden;
}

#menu {
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

#menu-items {
  margin-left: clamp(4rem, 20vw, 35rem);
  position: relative;
  z-index: 2;
}

#menu[data-active-index="0"] > #menu-background-pattern .symbol {
  transform: translateY(0vh);
}

#menu[data-active-index="1"] > #menu-background-pattern .symbol {
  transform: translateY(-100vh);
}

#menu[data-active-index="2"] > #menu-background-pattern .symbol {
  transform: translateY(-200vh);
}

#menu[data-active-index="3"] > #menu-background-pattern .symbol {
  transform: translateY(-300vh);
}

#menu-background-pattern {
  background-repeat: no-repeat;
  background-position: 0% 0%;
  height: 400vh;
  width: 200vw;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-position 800ms ease, background-size 800ms ease, opacity 800ms ease,transform 800ms ease;
  z-index: 1;
}

.symbol{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: visible;
  transition: transform 800ms ease,
  opacity 800ms ease,background-position 800ms ease,
  background-size 800ms ease, height 800ms ease;
}

.symbol-spade{
  position: absolute;
  left: -40vw; 
  top: 0;
  height: 100%;
  transition: transform 800ms ease;
  transform-origin: center center;
}

.symbol-diamond {
  position: absolute;
  left: -19vw;
  top: 2vw;
  height: 95%;
  transition: transform 800ms ease;
  transform-origin: center center;
}

.symbol-club {
  position: absolute;
  left: -24vw;
  top: 2vw;
  height: 95%;
  transition: transform 800ms ease;
  transform-origin: center center;
}

.symbol-heart {
  position: absolute;
  left: -22vw;
  top: 2vw;
  height: 90%;
  transition: transform 800ms ease;
  transform-origin: center center;
  background-position: -21vw 3vw;
}

.symbol-spade,
.symbol-diamond,
.symbol-club,
.symbol-heart {
  opacity: 0.2;
  position: relative;
  filter: brightness(0) invert(1);
  transform-origin: center center;
}

.symbol-spade,
.symbol-diamond,
.symbol-club,
.symbol-heart {
  opacity: 0.2;
  transition: transform 800ms ease, opacity 800ms ease;
  position: relative;
  filter: brightness(0) invert(1);
  transform-origin: center center;
}

#menu-items:hover ~ #menu-background-pattern {
  opacity: 0.2;
}

#menu-items:hover ~ #menu-background-pattern .symbol-spade {
  transform: translateX(6vw) scale(0.9);
}
#menu-items:hover ~ #menu-background-pattern .symbol-diamond {
  transform: translateX(7vw) scale(0.9);
}
#menu-items:hover ~ #menu-background-pattern .symbol-club {
  transform: translateX(7vw) scale(0.9);
}
#menu-items:hover ~ #menu-background-pattern .symbol-heart {
  transform: translateX(10vw) scale(0.9);
}

#menu-items:hover ~ #menu-background-image {
  background-size: 90vmax;
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1;
}

.menu-item {
  color: white;
  cursor: pointer;
  display: block;
  font-size: clamp(3rem, 8vw, 5rem);
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  text-decoration: none;
  transition: opacity 400ms ease;
  font-family: "Overpass Mono";
}


.menu-link {
  text-decoration: none;
  color: white;
}