body {
  background-color: rgb(0, 18, 0);
  margin: 0px;
  overflow: hidden;
}

#menu {
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

#menu-items {
  margin-left: clamp(4rem, 20vw, 35rem);
  position: relative;
  z-index: 2;
}

#menu[data-active-index="0"] > #menu-background-pattern .spade {
  transform: translateY(0vh);
}

#menu[data-active-index="1"] > #menu-background-pattern .spade {
  transform: translateY(-100vh);
}

#menu[data-active-index="2"] > #menu-background-pattern .spade {
  transform: translateY(-200vh);
}

#menu[data-active-index="3"] > #menu-background-pattern .spade {
  transform: translateY(-300vh);
}

#menu-background-pattern {
  background-repeat: no-repeat;
  background-position: 0% 0%;
  height: 400vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-position 800ms ease, background-size 800ms ease, opacity 800ms ease,transform 800ms ease;
  z-index: 1;
}

.spade {
  opacity: 0.2;
  transition: transform 800ms ease, opacity 800ms ease,background-position 800ms ease,background-size 800ms ease,
  height 800ms ease;
  position: relative;
  filter: brightness(0) invert(1);
}

.symbol-spade{
  background: url(spade.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: auto;
  height: 100vh;
  background-position: -40vw 0vw;
}

.symbol-diamond {
  background: url(diamond.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: auto;
  height: 100vh;
  background-position: -22vw 0vw;
}

.symbol-club {
  background: url(club.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: auto;
  height: 100vh;
  background-position: -27vw 0vw;
}

.symbol-heart {
  background: url(heart.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: auto;
  margin-top: 10vh;
  height: 90vh;
  background-position: -21vw 0vw;
}

#menu-items:hover ~ #menu-background-pattern {
  opacity: 0.2;
}

#menu-items:hover ~ #menu-background-pattern > .symbol-spade {
  background-position: -38vw 0vw;
}
#menu-items:hover ~ #menu-background-pattern > .symbol-diamond {
  background-position: -19vw 0vw;
}
#menu-items:hover ~ #menu-background-pattern > .symbol-club {
  background-position: -25vw 0vw;
}
#menu-items:hover ~ #menu-background-pattern > .symbol-heart {
  background-position: -18vw 0vw;
}

#menu-items:hover ~ #menu-background-image {
  background-size: 90vmax;
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1;
}

.menu-item {
  color: white;
  cursor: pointer;
  display: block;
  font-size: clamp(3rem, 8vw, 5rem);
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  text-decoration: none;
  transition: opacity 400ms ease;
  font-family: "Overpass";
}


.menu-link {
  text-decoration: none;
  color: white;
}