body {
  background-color: rgb(1, 8, 1);
  margin: 0px;
  overflow: hidden;
}

#menu {  
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

#menu-items {
  margin-left: clamp(4rem, 20vw, 35rem);
  position: relative;
  z-index: 2;
}

#menu[data-active-index="0"] > .spade {
  background-position: 0% -25%;
}

#menu[data-active-index="1"] > .spade {
  background-position: 0% -50%;
}

#menu[data-active-index="2"] > .spade {
  background-position: 0% -75%;
}

#menu[data-active-index="3"] > .spade {
  background-position: 0% -100%;
}

#menu-background-pattern {
  background-repeat: no-repeat;
  background-position: 0% 0%;
  height: 400vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-position 800ms ease, background-size 800ms ease, opacity 800ms ease;
  z-index: 1;
}

.spade {
  background: url(spade.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: auto;
  height: 50vh;
  opacity: 0.3;
  transition: transform 800ms ease, opacity 800ms ease;
  position: relative;
  filter: brightness(0) invert(1);
}

#menu-items:hover ~ #menu-background-pattern {
  opacity: 0.1;
  background-size: 130vmin auto;
}

#menu-items:hover ~ #menu-background-image {
  background-size: 90vmax;
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1; 
}

.menu-item {
  color: white;
  cursor: pointer;
  display: block;
  font-family: 'Ibarra Real Nova', serif;
  font-size: clamp(3rem, 8vw, 8rem);
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  text-decoration: none;
  transition: opacity 400ms ease;
}


.menu-link {
  text-decoration: none;
  color: white;
}